.addButton:hover {
    background-color: rgb(3, 77, 40);
  }

.addButton {
    background-color: rgb(7, 121, 73);
    border-radius: 8px;
    margin-left: 5px;
    width: 100px;
}

.cancelButton:hover {
  background-color: rgb(3, 77, 40);
}

.cancelButton {
  background-color: rgb(7, 121, 73);
  border-radius: 8px;
  margin-left: 5px;
  width: 100px;
}

input {
  width: 300px;
  height: 25px;
  margin-left: 10px;
}

em {margin-left: 185px; color:#E05C65; padding-left:10px;}
.error input {background-color:#E3C3C5;}
.error ::-webkit-input-placeholder { color:#999; }
.error ::-moz-input-placeholder { color:#999; }
.error :-moz-input-placeholder { color:#999; }
.error :ms-input-placeholder { color:#999; }